.button {
  width: max-content;
  padding: $sm $xl;
  color: $blueHaze;
  background-color: $martinique-bg;
  border-radius: $r-sm;
  @include border(2px, solid, $martinique);
  border-radius: 5px;
  font-size: $md;
  cursor: pointer;
  &:hover {
    box-shadow: $shadow;
  }
  transition: all 0.5 ease-in-out;
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
