$mercury: #e5e5e5;
$goldenrod: #fcc863;
$atomic-tangerine: #fc9a63;
$downriver: #0d1c52;
$polo-blue: #8f9dce;
$polo-blue-bg: #66729c;
$white: #ffffff;
$persimmon: #fe6f4f;
$ecru-white: #f5f3e6;

$blueHaze: #bdbdd3;
$mirage: #1f1f3c;
$martinique: #38385f;
$martinique-bg: #2a2a47;
$kimberly: #696998,